pythesint @ git+https://github.com/metno/py-thesaurus-interface@f43f9ec70131fcbb46f129ea566a0ca241b3ba67
metvocab @ git+https://github.com/metno/met-vocab-tools@c6d51ad3370b65ae1ebd805cd14b2a9e69d8922f
requests>=2.22
pyyaml>=5.1
flask>=1.0
lxml>=4.2.0
